body{
    display: flex;
    padding: 0;
    margin: 0 auto;
    background-color: #2E2E2E;
    justify-content: center;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#container{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    padding-bottom: 30px;
    width: 45%;
    margin: 20px;
    background: #EAEAEA;
    border-radius: 15px;
    box-shadow: 10px 15px 10px #010101;  
}
#title{
    font-family: 'Pacifico', cursive;
}
#addProduct--container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    width: 100%;
}
#addProduct--input{
    border: none;
    border-bottom: 2px solid #0A0A0A;
    background-color: transparent;
    width: 60%;
    height: 20px;
    padding-left: 10px;
    font-size: 20px;
}
.addProduct--button{
    display: flex;
    width: 35px;
    height: 35px;
    margin: 20px 10px;
    justify-content: center;
    align-self: center;
    align-items: center;
    align-content: center;
    background-color: #EAEAEA;
    box-shadow: 2px 2px 15px #A0A0A0;
    border: none;
    border: 1px solid #010101;
    border-radius: 50px;
    color: #010101;
    font-size: 30px;
    cursor: pointer;
}
#productList--list{
    width: 80%;
    margin-top: 20px;
    background-color:  rgb(255, 255, 255, 0.45);
    text-align: left;
    color: #0A0A0A;
}

.productItem:first-child{
   margin-top: 15px;
}
.productItem:last-child{
    margin-bottom: 15px;
}
.productItem:hover{
    color: #A0A0A0;
}

.information{
    display: flex;
    position: absolute;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-self: center;
    align-items: center;
    border: 1px solid #0A0A0A;
    border-radius: 50px;
    top: 50%;
    right: 10%;
    color: #000;
    cursor: pointer;
}
.information--tooltip{
    visibility: hidden;
    position: absolute;
    width: 200px;
    top: 150%;
    right: -200%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(160, 160, 160, 0.164);
}

.information:hover .information--tooltip{
    visibility: visible;
}

@media only screen and (max-width: 765px){
    #container{
        width: 80%;
    }
    .information{
        top: 55%;
    }
    .information--tooltip{
        top: 150%;
        right: 200%;
    }
}